html {
    text-align: center;
    font-family: monospace;
    background-image: url(petra.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
}

#header {
    font-weight: bold;
    font-size: 69px;
    background-color: dodgerblue;
    border: solid black;
    padding: 25px;
    width: 900px;
    margin: auto;
}

h1 {
    border: solid black;
    background-color: #217C7E;
    width: 300px;
    margin: auto;
}

#container {
    text-align: center;
    padding-top: 1em;
}

.choice {
    display: inline-block;
    border-radius: 69%;
    max-width: 300px;
    border: solid black;
    box-shadow: 2px 2px rgba(0,0,0,0.4);
}

.choice:hover {
    transform: scale(1.1);
    border: solid yellow;
}

#rock {
    content: url(rock.jpg);
}

#paper{
    content: url(paper.jpg);
}

#scissors {
    content: url(scissors.png);
}

h2 {
    border: solid black;
    background-color: #FF8F1F;
    width: 150px;
    margin: auto;
}

.scorebox {
    display: inline-block;
    border: solid black;
    height: 42px;
    width: 42px;
    background-color: #eeeeee;
    margin: auto;
}

.score {
    font-size: 35px;
    font-weight: bold;
}

.scoreId {
    display: inline-block;
    border: solid medium black;
    background-color: #1fffff;
    padding: 5px;
    margin: auto;
}

#result {
    margin: auto;
    border: solid black;
    max-width: 300px;
    height: 300px;
    background: rgba(0,0,0,0.4);
    box-shadow: 2px 2px rgba(0,0,0,0.4);
}

.win {
    content: url(wisely.jpg);
}

.lose {
    content: url(poorly.jpg);
}

.draw {
    content: url(draw.jpg);
}

.playerWin {
    content: url(win.jpg);
}

.computerWin {
    content: url(lose.jpg);
}

.result:hover {
    transform: scale(1.1);
    border: solid yellow !important;
}
